<mat-toolbar color="primary">
	<span>Dashboards</span>
</mat-toolbar>

<div class="charts">

	<mat-card [hidden]="!doughNutChart" class="chart">
		<mat-card-subtitle>
			<mat-form-field appearance="fill">
				<mat-select [(value)]="selected">
					<mat-option *ngFor="let project of projects" [value]="project">
						{{project}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</mat-card-subtitle>
		<canvas id="doughNutCanvas"></canvas>
	</mat-card>

	<mat-card [hidden]="!barChart" class="chart">
		<mat-card-subtitle>
			<mat-form-field appearance="fill">
				<mat-select [(value)]="selected">
					<mat-option *ngFor="let project of projects" [value]="project">
						{{project}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</mat-card-subtitle>
		<canvas id="barCanvas"></canvas>
	</mat-card>

	<mat-card [hidden]="!pieChart" class="chart">
		<mat-card-subtitle>
			<mat-form-field appearance="fill">
				<mat-select [(value)]="selectedUser">
					<mat-option *ngFor="let user of users" [value]="user">
						{{user}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</mat-card-subtitle>
		<canvas id="pieCanvas"></canvas>
	</mat-card>

</div>

<div class="charts">
	<mat-card [hidden]="!barChart" class="chart">
		<mat-card-subtitle>
			<mat-form-field appearance="fill">
				<mat-select [(value)]="selectedWF">
					<mat-option *ngFor="let wf of workflows" [value]="wf">
						{{wf}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</mat-card-subtitle>
		<view-workflow></view-workflow>
	</mat-card>
</div>