  <div>
<a [routerLink]="['workflow']">
	<mat-card class="workflow">
		<mat-card-header>
			<div mat-card-avatar class="workflow-header-image"></div>
			<mat-card-title></mat-card-title>
		</mat-card-header>
		<img class="workflow-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
		<mat-card-content>
			<p>
				Workflow Viewer
			</p>
		</mat-card-content>
	</mat-card>   
</a>
<!-- <router-outlet> </router-outlet> -->
</div>