
 .container {
   display: flex;
  width: 1200px;
  height: 1200px;
 }

 .shape-items {
  display: flex;  
  flex-direction: column;
}

.shape-item
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
}

.shape-item__label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-toolbar {
  height: 50px;
}

.toolbar-icon {
  width: 16px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

a {
    text-decoration: none;
}

#diagram{
  width: 1000px;
  height: 1000px;
}

.content {
  display: flex;
}

.properties {
  width: 100%;
}

.k-panelbar .k-content ul
{
    margin: 0;
    padding: 0;
}

.k-panelbar .k-content li
{
    text-align: right;
    position: relative;
    list-style: none;
    padding: 5px 0 0;
}

.k-panelbar .k-content
{
    padding-bottom: 5px;
}

.k-panelbar .k-content li > span
{
    position: absolute;
    display: block;
    left: 10px;
    top: 10px;
}

.k-panelbar .k-content li > .k-widget
{
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    position: static;
}

.k-panelbar .k-content .k-selected-color
{
    width: 100%;
}

.k-panelbar
{
    border-width: 0;
}

.k-panelbar,
.k-panelbar .k-panel,
.k-panelbar li.k-item
{
    background: transparent;
}

.k-panelbar .k-panel,
.k-panelbar .k-content
{
    background: #f0f0f0;
}
 
 
 